#container {
    font-family: Tahoma, Verdana, sans-serif;
    display: grid;
    grid-template-columns: [colum1] 250px [colum2] auto [colum3] 250px;
    grid-template-rows: [row1] 150px [row2] 200px [row3] auto [row4] 200px;
    background-attachment: fixed;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
}
#TitleBanner {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    text-align: center;
    color: white;
}
main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    padding: 50px;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}
#navMenu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/*.button {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: black;
    color: white;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .center img {
    width: 300px;
    height: auto;
  }*/
  @media (max-width: 1400px) {
    #TitleBanner {
      grid-column-start: 1;
      grid-column-end: 4;
  }
  main {
    grid-column-start: 1;
    grid-column-end: 4;;
  }
}


.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 1000;
}

.topbar.scrolled {
  background-color: #111;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/* Animación fade-in */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos del botón */
.button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}