#container {
    display: grid;
    grid-template-columns: [colum1] 200px [colum2] auto [colum3] 200px;
    grid-template-rows: [row1] 200px [row2] 200px [row3] auto [row4] 200px;
    background-color: gray;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
}
#TitleBanner {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: green;
}
main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: red;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: yellow;
}